 body {background-image: url("Mybackground.jpg");}
#me {
 width:150px
  margin-up: 10px
 margin-right: 10px;
 margin-bottom: 10px;
}
#Emmi { 
 margin-right: 10px;
 margin-bottom: 10px;
}
#game { margin-right: 10px;
 margin-bottom: 10px;
}
#flag {margin-right: 10px;
 margin-bottom: 10px;
}

